@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Macondo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2c2f33;
}

/* header page */
header {
  width: 100%;
  height: 80px;
  background-color: #36393f;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

header nav a img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 50%;
}

header nav input {
  width: 20%;
  border: 2px solid #4f545c;
  height: 30px;
  padding: 10px 15px 10px 15px;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

/* /header page */

/* main page */

main {
  width: 100%;
  height: auto;
  flex: 1;
}

/* top page */
main section.top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  row-gap: 15px;
  margin-top: 2rem;
}

main section.top h1 {
  font-size: 2rem;
}

main section.top p {
  font-size: 1.2rem;
}
/* /top page */

/* main-content page */
main section.main-content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

main section.main-content input {
  width: 70%;
  border: 2px solid #4f545c;
  height: 50px;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
/* /main-content page */

/* description-project page */
main section.description-project {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  row-gap: 15px;
  font-weight: 800;
  margin-top: 5rem;
}

main section.description-project h1 {
  font-size: 2rem;
}

main section.description-project p {
  max-width: 80%;
  text-align: justify;
}
/* /description-project page */

/* /main page */

/* footer page */

footer {
  width: 100%;
  height: 20px;
  background-color: #363936;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: small;
  margin-bottom: 0;
  font-style: italic;
}

/* /footer page */

/* responsive */
@media screen and (max-width: 478px) {
  /* header page */
  header nav input {
    width: 50%;
  }
  /* /header page */

  /* top page */
  main section.top h1 {
    font-size: 1.3rem;
  }

  main section.top p {
    font-size: 0.9rem;
    max-width: 80%;
    text-align: justify;
  }
  /* /top page */

  /* main-content page */
  main section.main-content {
    margin-top: 3rem;
  }

  main section.main-content input {
    width: 100%;
    font-size: 0.8rem;
  }
  /* /main-content page */

  /* description-project page */
  main section.description-project h1 {
    font-size: 1.3rem;
    max-width: 100%;
    text-align: justify;
  }

  main section.description-project p {
    font-size: 0.8rem;
  }
  /* /description-project page */
}
/* /responsive */
